# IDE
.idea/
.vscode/
.idx/

# OS
**/.DS_Store

# Tools
.antigravitycli/*.json
.claude/*.json
.devtool/
.tooling-venv/
.venv/
build/
graphify-out/
tmp/

# Open-Source Contributions
contributions/

# Mono repository
TODO.md

# waffle-commons

# Personnal
*.jks
